.filterContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.filterButton {
  padding: 8px 18px;
  border-radius: 25px;
  background: #f3f3ff;
  color: #6c63ff;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #e0e0ff;
  transition: 0.3s ease;
}

.filterButton:hover {
  background: #6c63ff;
  color: white;
}

.active {
  background: #6c63ff;
  color: white;
}